<html>
    <head>
        <title>Login failed</title>
        <style>
            h1{
            margin-top:200px;
            text-align: center;
            color:red
            }
            h4{
            text-align: center;
            }
            body{
                background-image: url(https://tse1.mm.bing.net/th?id=OIP.7TEdI0WX6nBjtjQAoKmmnwHaEK&pid=Api&P=0);
                background-repeat: no-repeat;
                background-size: cover;
            }
        </style>
    </head>
    <body>
         <h1>Oops ! Login Failed</h1>
         <h4>Invalid email or password</h4>
         <form action = '\signin' method = 'GET'>
            <button class="btn btn-primary" style="margin-left:550px; width:100px;height:40px;" type = 'submit'>Login</button>
        </form>
    </body>
</html>