<html>
    <head>
        <title>Signup Success</title>
    </head>
    <style>
        body{
            background-image: url(https://th.bing.com/th/id/OIP.qhp1JKuAjB81qCXM8TLVlgHaEW?w=267&h=180&c=7&r=0&o=5&dpr=1.5&pid=1.7);
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
    <body>
        <center>
            <br><br><br><br><br>
            <h2 style="color: floralwhite;">You have Signed Up Suceessfully !!!</h2>
            <form action = '\signin' method = 'GET'>
                <button class="btn btn-primary" style="width:100px;height:40px; color: cornflowerblue;" type = 'submit'>Login</button>
            </form>
        </center>

    </body>
</html>