<html>

<head>
    <style>
        body{
            background-image: url(https://tse2.mm.bing.net/th?id=OIP.bhFi5SITd4-oLxlbTDHi6wHaEK&pid=Api&P=0);
            background-repeat: no-repeat;
            background-size: 1300px;
            
        }
    </style>
</head>

<body >
    <br>
    <br><br>
    <h1 style="text-align:center;">Here's the Page to SignUp !</h1>

    <form action="/signupsubmit" method="GET" style="text-align:center;">

        <b>First Name</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : <input type="text" name="first_name"> <br><br>
        <b>Last Name</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: <input type="text" name="last_name"> <br><br>
        <b>Email ID</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: <input type="text" name="email"> <br><br>
        <b>Password</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  : <input type="password" name="password"> <br><br>
        <b>Phone Number</b> : <input type="tel" name="phno"><br><br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit">&nbsp;&nbsp;&nbsp;
        <input type="reset" value="reset">

    </form>


</body>

</html>